<mat-card>
    <mat-card-header>
        <mat-card-title>Фильтр заказов</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Все заказы</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="reciever">
                <mat-header-cell *matHeaderCellDef>Получатель</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reciever}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef>Откуда</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.from}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef>Куда</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.to}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id','from','to','reciever','status']"></mat-header-row>
            <mat-row *matRowDef="let element; columns: ['id','from','to','reciever','status'];"></mat-row>
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="warn" class="floating-button"><mat-icon>add</mat-icon></button>
<button mat-fab color="primary" class="floating-button" [style.bottom]="'110px'"><mat-icon>cloud_upload</mat-icon></button>