<mat-card>
    <mat-card-header>
        <mat-card-title>Поиск</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutGap="20px" fxLayout="row" fxLayout.lt-md="column">
        <mat-form-field>
            <input matInput placeholder="ТТН" [matAutocomplete]="ttn">
        </mat-form-field>
        <mat-autocomplete #ttn="matAutocomplete">
            <mat-option>1</mat-option>
            <mat-option>2</mat-option>
            <mat-option>3</mat-option>
            <mat-option>4</mat-option>
            <mat-option>5</mat-option>
            <mat-option>6</mat-option>
        </mat-autocomplete>
        <mat-form-field>
            <input matInput placeholder="Адрес" [matAutocomplete]="address">
        </mat-form-field>
        <mat-autocomplete #address="matAutocomplete">
            <mat-option>Маяковского 18</mat-option>
            <mat-option>Лаврухина 7/1</mat-option>
        </mat-autocomplete>
        <mat-form-field>
            <input matInput placeholder="Телефон" [matAutocomplete]="phone">
        </mat-form-field>
        <mat-autocomplete #phone="matAutocomplete">
            <mat-option>+380975556501</mat-option>
        </mat-autocomplete>
        <mat-form-field>
            <input matInput placeholder="Получатель" [matAutocomplete]="reciever">
        </mat-form-field>
        <mat-autocomplete #reciever="matAutocomplete">
            <mat-option>Игорь Иванов</mat-option>
        </mat-autocomplete>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Мои заказы</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayoutGap="20px">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows fxFlex>
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>№</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="clientId">
                <mat-header-cell *matHeaderCellDef>ID Клиента</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.clientId}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="client">
                <mat-header-cell *matHeaderCellDef>Клиент</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.client}}</mat-cell>
            </ng-container>

            <!--<ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef>Адрес получателя</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.to}}</mat-cell>
            </ng-container>-->

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Статус</mat-header-cell>
                <mat-cell *matCellDef="let element" [style.color]="element.status == 'Активен' ? 'green' : 'red'"> {{element.status}}</mat-cell>
            </ng-container>

            <!--<ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.price}} грн </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef> Тип доставки </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>-->

            <mat-header-row *matHeaderRowDef="['id','client', 'clientId','status']"></mat-header-row>
            <mat-row class="clickable-row" *matRowDef="let element; columns: ['id','client', 'clientId','status'];" (click)="openCard(element.id)"></mat-row>
        </table>
    </mat-card-content>
</mat-card>
<button mat-fab color="warn" class="floating-button" matTooltip="Создать новый заказ" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
<button mat-fab color="primary" class="floating-button" matTooltip="Загрузить из файла" matTooltipPosition="left" [style.bottom]="'110px'" (click)="openBottomSheet()"><mat-icon>cloud_upload</mat-icon></button>
