<button mat-icon-button>
  <mat-icon>build</mat-icon>
</button>
<button mat-icon-button>
  <mat-icon>notifications</mat-icon>
  <span class="badge" *ngIf="badgeCount > 0">{{badgeCount}}</span>
</button>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Настройки
    </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Профиль
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon> Отключить оповещения
    </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Выйти
    </button>
</mat-menu>

