<div class="user-profile" style="background: url(assets/images/background/user-info.jpg) no-repeat;">
    <div class="profile-img"><img src="assets/images/users/1.jpg" alt="user"></div>
    <div class="profile-text"><a [matMenuTriggerFor]="sdprofile" class=""> Кощеев Сергей <i class="ti-angle-down font-12 m-l-5"></i></a></div>
    <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Настройки
        </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Профиль
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Отключить оповещения
        </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Выйти
        </button>
    </mat-menu>
</div>
<mat-nav-list>
    <mat-list-item [class.selected]="mystarter.isActive">
        <a routerLink="/my-starter"
           routerLinkActive
           [class.selected]="mystarter.isActive"
           #mystarter="routerLinkActive">
            <mat-icon>dashboard</mat-icon>
            <span>Главная</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="myprofile.isActive">
        <a routerLink="/my-profile"
           routerLinkActive
           [class.selected]="myprofile.isActive"
           #myprofile="routerLinkActive">
            <mat-icon>portrait</mat-icon>
            <span>Профиль</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="myorders.isActive">
        <a routerLink="/my-orders"
           routerLinkActive
           [class.selected]="myorders.isActive"
           #myorders="routerLinkActive">
            <mat-icon>shop</mat-icon>
            <span>Заказы</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="myusers.isActive">
        <a routerLink="/my-users"
           routerLinkActive
           [class.selected]="myusers.isActive"
           #myusers="routerLinkActive">
            <mat-icon>person</mat-icon>
            <span>Пользователи</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item [class.selected]="logisticsstarter.isActive">
        <a routerLink="/logistics-starter"
           routerLinkActive
           [class.selected]="logisticsstarter.isActive"
           #logisticsstarter="routerLinkActive">
            <mat-icon>dashboard</mat-icon>
            <span>Главная</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="logisticsorders.isActive">
        <a routerLink="/logistics-orders"
           routerLinkActive
           [class.selected]="logisticsorders.isActive"
           #logisticsorders="routerLinkActive">
            <mat-icon>shop</mat-icon>
            <span>Заказы</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="logisticstransactions.isActive">
        <a routerLink="/logistics-transactions"
           routerLinkActive
           [class.selected]="logisticstransactions.isActive"
           #logisticstransactions="routerLinkActive">
            <mat-icon>shop_two</mat-icon>
            <span>Перевозки</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
    <mat-list-item [class.selected]="logisticscouriers.isActive">
        <a routerLink="/logistics-couriers"
           routerLinkActive
           [class.selected]="logisticscouriers.isActive"
           #logisticscouriers="routerLinkActive">
            <mat-icon>directions_run</mat-icon>
            <span>Курьеры</span>
            <span fxFlex></span>
        </a>
    </mat-list-item>
</mat-nav-list>
