<mat-nav-list>
    <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Google Sheets</span>
        <span mat-line>Create a sheet</span>
    </a>
    <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>Microsoft Excel</span>
        <span mat-line>.xls and .xlsx file</span>
    </a>
    <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
        <span mat-line>CSV-file</span>
        <span mat-line>.cvs file</span>
    </a>
</mat-nav-list>