<mat-card>
    <mat-card-header>
        <mat-card-title class="order-info-transaction">Заказ №1</mat-card-title>
    </mat-card-header>
    <span>
        <mat-card fxFlex="2 2 auto">
            <mat-card-content>
                <mat-card-subtitle>Номер заказа:</mat-card-subtitle>
                <mat-card-subtitle>1</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="2 2 auto">
            <mat-card-content>
                <mat-card-subtitle>Откуда:</mat-card-subtitle>
                <mat-card-subtitle>ул. Маяковского 18</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="2 2 auto">
            <mat-card-content>
                <mat-card-subtitle>Куда:</mat-card-subtitle>
                <mat-card-subtitle>ул. Лаврухина 7</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="2 2 auto">
            <mat-card-content>
                <mat-card-subtitle>Получатель:</mat-card-subtitle>
                <mat-card-subtitle>Игорь Ласточкин</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="2 2 auto" class="order-info-transaction2">
            <mat-card-content>
                <mat-card-subtitle>Статус:</mat-card-subtitle>
                <mat-card-subtitle>Проверка</mat-card-subtitle>
            </mat-card-content>
        </mat-card>
    </span>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>Состояние доставки</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef>Откуда</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.from}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef>Куда</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.to}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['id','from','to']"></mat-header-row>
            <mat-row *matRowDef="let element; columns: ['id','from','to'];"></mat-row>
        </table>
    </mat-card-content>
</mat-card>