<mat-card>
    <mat-card-header>
        <mat-card-title>Фильтр</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field class="example" fxFlex="1 1 auto">
                <input matInput placeholder="Курьер" value="Вася">
            </mat-form-field>
            <mat-form-field class="example" fxFlex="1 1 auto">
                <input matInput placeholder="№ Заказа" value="A123">
            </mat-form-field>
            <mat-form-field class="example" fxFlex="1 1 auto">
                <input matInput placeholder="Клиент" value="Нова Пошта">
            </mat-form-field>
            <mat-form-field class="example" fxFlex="1 1 auto">
                <input matInput placeholder="Статус" value="сделан">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Мои заказы</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" fxFlex>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- from Column -->
            <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef> Адрес отправителя </mat-header-cell>
                <mat-cell mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
            </ng-container>

            <!-- to Column -->
            <ng-container matColumnDef="to">
                <mat-header-cell *matHeaderCellDef> Адрес получателя </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
            </ng-container>

            <!-- reciever Column -->
            <ng-container matColumnDef="reciever">
                <mat-header-cell *matHeaderCellDef> Получатель </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.reciever}} </mat-cell>
            </ng-container>
            <!-- status Column -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Статус </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
            </ng-container>
            <!-- price Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Цена </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
            </ng-container>
            <!-- typeOfOrder Column -->
            <ng-container matColumnDef="typeOfOrder">
                <mat-header-cell *matHeaderCellDef> Тип доставки </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.typeOfOrder}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"
                     (click)="selection.toggle(row)">
            </mat-row>
        </table>
    </mat-card-content>
</mat-card>

<button mat-fab color="warn" class="floating-button" matTooltip="Create new order" matTooltipPosition="left"><mat-icon>add</mat-icon></button>
<button mat-fab color="primary" class="floating-button" matTooltip="Load from file" matTooltipPosition="left" [style.bottom]="'110px'" (click)="openBottomSheet()"><mat-icon>cloud_upload</mat-icon></button>
<button mat-fab color="primary" class="floating-button" matTooltip="Копировать заказ" matTooltipPosition="left" [style.bottom]="'175px'"><mat-icon>library_add</mat-icon></button>
